<div class="accueil">
    <div class="container">
        <h3>Sites heberges</h3>
        <div class="slider">
           <div class="slide-track">
                <div class="slide">
                    <img src="/images/cedille-logo-blanc.png" alt="logoets">
                </div>
                <div class="slide">
                    <img src="/images/cedille-logo-new.png" alt="logoets">
                </div>
                <div class="slide">
                    <img src="/images/cedille-logo-orange.png" alt="logoets">
                </div>
                <div class="slide">
                    <img src="/images/cedille-logo-orange.png" alt="logoets">
                </div>
                <div class="slide">
                    <img src="/images/cedille-logo-orange.png" alt="logoets">
                </div>
                <div class="slide">
                    <img src="/images/cedille-logo-orange.png" alt="logoets">
                </div>
                <div class="slide">
                    <img src="/images/cedille-logo-orange.png" alt="logoets">
                </div>
                <div class="slide">
                    <img src="/images/cedille-logo-orange.png" alt="logoets">
                </div>
           </div>
        </div>
    </div>
</div>