<div class="accueil">
    <h3>Sites heberges</h3>
    <div class="slider">
       <div class="slide-track">
            <div class="slide">
                <a href="#"><img src="/images/cedille-logo-blanc.png" alt="logoets"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/cedille-logo-new.png" alt="logoets"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/cedille-logo-orange.png" alt="logoets"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/cedille-logo-orange.png" alt="logoets"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/cedille-logo-orange.png" alt="logoets"></a> 
            </div>
            <div class="slide">
                <a href="#"><img src="/images/cedille-logo-orange.png" alt="logoets"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/cedille-logo-orange.png" alt="logoets"></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/cedille-logo-orange.png" alt="logoets"></a>     
            </div>
       </div>
    </div>
</div>