
    


      <div class="main container-fluid">
        
        
        <div id="MemberCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="photo1.jpg" class="d-block w-100" alt="...">
            </div>
            
          </div>
        </div>


        <div style="margin-top: 30px; margin-bottom: 30px;"> </div>
        
        <div class="container-fluid">
          <div class = "col-2"></div>
          <div class = "col-8">
            <div class="card" style="width: 18rem; ">
              <img src="contact.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Nom Prénom</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                <div class="social-links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div class = "col-2"></div>
          </div>

          <hr style="width:100%;text-align:left;margin-left:0">

          <div style="margin-top: 30px; margin-bottom: 30px;"> </div>
          <div class="card" style="width: 18rem; ">
            <img src="contact.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nom Prénom</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              <div class="social-links">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            </div>
          </div>
        
        </div>
      </div>
    
  