
    
      <div class="container-fluid">

        <div id="MemberCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="photo1.jpg" class="d-block w-100" alt="...">
            </div>            
          </div>
        </div>    

      </div>

      <div class="main container">
        
        <div style="margin-top: 30px; margin-bottom: 30px;"> </div>
        
        <div class="container-fluid">
          <div class = "col-2"></div>
          <div class = "col-8">
            <div class="card" style="width: 18rem; ">
              <img src="contact.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Nom Prénom</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                <div class="social-links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div class = "col-2"></div>
          </div>

          

          <div style="margin-top: 30px; margin-bottom: 30px;"> </div>
          <div class="card" style="width: 18rem; ">
            <img src="contact.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nom Prénom</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              <div class="social-links">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            </div>
          </div>
        
        </div>
      
    
      <br/>
      <br/>

      <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="row">
                    <div class="titreProjet">
                        <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#MEMBER">
                            <div class="row align-items-center">
                                <div class="col titreProjet">
                                    <h4>Devenir Membre</h4>
                                    
                                </div>
                            </div>
                        </button>
                    </div>                    
                </div>
                <div class="btn-collapse collapse" id="MEMBER">
                    <div class="temoignage">
                      <p class="texte"> Étape pour devenir membre..........................................................</p>
                      <p class="texte">..........................................................</p>
                      <p class="texte">..........................................................</p>
                      <p class="texte">....................................................................................</p>

                      <p class="texte">Lien vers formulaire nouveau membre</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
  
      <br/>
      <br/>
    </div>