<div class="container-fluid equipe">

    <div class="carousel slide memberCarousel" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="..." class="d-block w-100 img-fluid" alt="...">
            </div>   
            
            <div class="carousel-item">
                <img src="..." class="d-block w-100 img-fluid" alt="...">
            </div>

            <div class="carousel-item">
                <img src="..." class="d-block w-100 img-fluid" alt="...">
            </div>

        </div>
    </div>
</div>
    
<div class="container membres text-center">
          
    <div class="row membre-row">

        <div class=" col-4 membre text-center">
            
            <div class="image-background ">
                <div class="image">
                    <img src="..."  alt="...">
                </div>
            </div>

            <div  class="nomPrenom " > 
                <h4>Nom Prénom</h4> 
            </div>

            <div class="role " > 
                <h5> Role </h5> 
            </div>

            <div class="social-links ">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        


        <div class=" col-4 membre text-center">
            
            <div class="image-background ">
                <div class="image">
                    <img src="https://www.etsmtl.ca/getmedia/0da56caf-30bb-4eec-a0d2-d8e2dc3f2072/Logo_ETS_TypoGrise_D_FR"  alt="...">
                </div>
            </div>

            <div  class="nomPrenom " > 
                <h4>Nom Prénom</h4> 
            </div>

            <div class="role " > 
                <h5> Role </h5> 
            </div>

            <div class="social-links">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>


        <div class=" col-4 membre text-center">
            
            <div class="image-background ">
                <div class="image">
                    <img src="/images/photos membres/me.jpeg" alt="membre">
                </div>
            </div>

            <div  class="nomPrenom " > 
                <h4>Nom Prénom</h4> 
            </div>

            <div class="role " > 
                <h5> Role </h5> 
            </div>

            <div class="social-links ">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>   
        
</div>    


<div class="container devenir-membre" >
    <div class="row">
        <div class="col-4"> </div>
        <div class=" col-4 btn-membre  text-center">
            <a href="#">
                <h2>Devenir membre</h2>
            </a>
            
        </div>
        <div class="col-4"> </div>
    </div>
</div>




