<div class="partenaires">
    <div class="container">
      <h2 class="titre">Partenaires</h2>
      <div class="row ">
            <div class="col-sm-6 ">
                <div class="partenaire">
                    
                    <a href="https://www.bnc.ca/">
                        <img src="/images/Partenaire/banque-nationale-logo-transparent.png" alt="logobncPartenaire" class="  d-block  bnc" />
                    </a>
                </div>
                
            </div>

            <div class="col-sm-6 ">
                <div class="partenaire">
                   
                    <a href="https://www.etsmtl.ca/">
                        <img src="https://www.etsmtl.ca/getmedia/0da56caf-30bb-4eec-a0d2-d8e2dc3f2072/Logo_ETS_TypoGrise_D_FR"  alt="logoetsPartenaire" class=" d-block  ets">
                    </a>
                    
                </div>
            </div>   
        </div>
    </div>


    <div class="container">
        <div class="devenir-partenaire-panel">
            <div class="row text-center">
                    <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#formulaire">
                        <div class="row align-items-center">
                            <div class="col  titre-devenir-partenaire">
                                <h2>Souhaitez-vous devenir partenaire? </h2>
                            </div>
                        </div>
                    </button>
            </div>

            <div class="btn-collapse collapse" id="formulaire" >
                <div class="contenu text-center">
                    <h4>Formules de partenariats</h4>
                  <br/>

                    
                    <table class="table table-striped table-bordered">
                        <thead class="text-center">
                          <tr>
                            <th scope="col" style="color: black; background-color: rgba(207, 135, 0, 0.88);">Avantages</th>
                            <th scope="col" style="color: black; background-color: rgba(255, 166, 0, 0.748);">Bronze</th>
                            <th scope="col" style="color: black; background-color: rgba(255, 166, 0, 0.748);">Argent</th>
                            <th scope="col" style="color: black; background-color: rgba(255, 166, 0, 0.748);">Or</th>
                            <th scope="col" style="color: black; background-color: rgba(255, 166, 0, 0.748);">Platine</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row"> Montant minimum de la commandite (Monétaire) </th>
                            <td>500$</td>
                            <td>2000$</td>
                            <td>3000$</td>
                            <td>4000$</td>
                          </tr>

                          <tr>
                            <th scope="row"> Remerciement sur les réseaux sociaux </th>
                            <td > <div class="cercle"> </div> </td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>
                          
                          <tr>
                            <th scope="row">Visibilité lors de sorties publiques</th>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>
                          <tr>
                            <th scope="row"> Votre logo sur notre site web </th>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row">Votre nom et logo sur les v&ecirc;tements officiels du club </th>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row">Votre logo sur nos affiches et d&eacute;pliants</th>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row">Invitation &agrave; la C&eacute;l&eacute;bration annuelle des bourses et des stages*</th>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row">Publication d'un de vos contenus, publications ou &eacute;v&eacute;nements virtuels sur nos m&eacute;dias sociaux</th>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>
                          <tr>
                            <th scope="row">Mention « pr&eacute;sent&eacute; par » lors de nos workshops, ateliers et meetups &agrave; l'&Eacute;TS</th>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row">Organisation d'une conf&eacute;rence &agrave; l'&EacuteTS ou d'un &eacute;v&eacute;nement en ligne avec vous</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                          </tr>
                          <tr>
                            <th scope="row">Votre logo sur le babillard de notre club &eacute;tudiant</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                          </tr>


                        </tbody>
                    </table>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <div class="panel">
                      <a class="devenir-partenaire-link" href="/contact"><h2>Devenir partenaire</h2></a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="faire-don-panel">
          <div class="row text-center">
                <div class="row align-items-center justify-content-center">
                    <div class="col  titre-faire-don">
                        <a href="https://www.jedonneenligne.org/fdets/CLUBSCWEB/?FpsUID1043=4114">
                          Souhaitez-vous faire un don?
                        </a>
                    </div>
                </div>
          </div>
        </div>
    </div>
</div>