

<div class="partenaires">
    <div class="container text-center">
        <h2 class="titre">Partenaires</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="partenaire">
                    
                    <a href="https://www.bnc.ca/">
                        <img src="/images/Partenaire/banque-nationale-logo-transparent.png" alt="logobncPartenaire" class="card-img-left bnc" />
                    </a>
                </div>
                
            </div>

            <div class="col-sm-6">
                <div class="partenaire">
                   
                    <a href="https://www.etsmtl.ca/">
                        <img src="https://www.etsmtl.ca/getmedia/0da56caf-30bb-4eec-a0d2-d8e2dc3f2072/Logo_ETS_TypoGrise_D_FR"  alt="logoetsPartenaire" class="card-img-left ets">
                    </a>
                    
                </div>
            </div>   
        </div>
    </div>


    <div class="container">
        <div class="devenir-partenaire-panel">
            <div class="row">
                <div class="col-sm-9 text-center ">
                    <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#formulaire">
                        <div class="row align-items-center">
                            <div class="col text-center titre-devenir-partenaire">
                                <h2>Vous souhaitez devenir partenaire? </h2>
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="btn-collapse collapse" id="formulaire">
                <div class="contenu">
                    <div class="text-center">
                        <a href="https://geniale.ca/en/sponsors/">
                            <h4> Lien vers le formulaire </h4>
                        </a>
                    </div>
                  <br/>

                    
                    <table class="table table-striped table-bordered">
                        <thead class="text-center">
                          <tr>
                            <th scope="col" style="color: #E5E4E2; background-color: rgba(186, 5, 5, 0.765);">Avantages de votre appui</th>
                            <th scope="col" style="color:#653f06; background-color: black;">Bronze</th>
                            <th scope="col" style="color:#C0C0C0; background-color: black;">Argent</th>
                            <th scope="col" style="color:#b39200; background-color: black;">Or</th>
                            <th scope="col" style="color:#E5E4E2; background-color: black;">Platine</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row"> Montant minimum de la commandite (Monétaire) </th>
                            <td>500$</td>
                            <td>1000$</td>
                            <td>2000$</td>
                            <td>30000$</td>
                          </tr>
                          <tr>
                            <th scope="row"> Équivalence de la commandite (Matériel) </th>
                            <td>Moins de 999$</td>
                            <td>1000$</td>
                            <td>3000$</td>
                            <td>50000$</td>
                          </tr>

                          <tr>
                            <th scope="row"> Remerciement sur nos réseaux sociaux </th>
                            <td > <div class="cercle"> </div> </td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row"> Votre logo sur notre site internet </th>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row"> Sous-verres </th>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row"> Votre logo sur les chandails su club  </th>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row"> Activité TeamBuilding pour vos employés* </th>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row"> Votre logo sera affiché lors de nos compétitions </th>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row"> Notre participation à vos événements </th>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>
                          <tr>
                            <th scope="row"> Photo des projets auxquels vous avez contribué </th>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>
                          <tr>
                            <th scope="row"> Soirée de dégustation de nos produits* </th>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>

                          <tr>
                            <th scope="row"> Publicité sur nos réseaux </th>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                            <td><div class="cercle"> </div></td>
                          </tr>
                          <tr>
                            <th scope="row"> Brassage de bières pour vos événements </th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                          </tr>
                          <tr>
                            <th scope="row"> Invitation à la soirée des commanditaires* </th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                          </tr>
                          <tr>
                            <th scope="row"> Une vidéo de présentation de nos projets </th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><div class="cercle"> </div></td>
                          </tr>


                        </tbody>
                    </table>

                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-4"> </div>
        <div class=" col-4 faire-don text-center">
            <a href="#">
                <h2>Voulez-vous faire un don?</h2>
            </a>
            
        </div>
        <div class="col-4"> </div>
      </div>
    </div>
</div>