


    <div class="main container-fluid">
        
        <div class="row text-center" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="col-6">
                <div class="row align-items-center">

                    <div class="col-4"><img src="bn.png" class="card-img-left" alt="..."></div>
                
                        <div class="col-8"><div class="card-body">
                            <h5 class="card-title">Nom du partenaire</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>             
                        </div>
                    </div>            
                </div>
            </div>
        
            <div class="col-6">
                <div class="card" style="width: 35rem; ">
                    <div class="row align-items-center">

                        <div class="col-4">
                            <img src="ets-logo.png" class="card-img-left" alt="...">
                        </div>
                
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Nom du partenaire</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>             
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="width :100%; margin-top: 30px; margin-bottom: 30px;">
            <div class="col-4"></div>
            <div class="card col-4" style="width: 50rem; ">
                <div class="row">
                    <h4> Vous souhaitez devenir partenaire?</h4>
                    <p> blabla blabla blabla</p>
                    <a href="#" class=" text-center">Lien vers le formulaire</a>
                </div>
                <div class="row">
                    <h4> Vous souhaitez faire un don?</h4>
                    <p> blabla blabla blabla</p>
                    <a href="#">Lien vers le formulaire</a>
                </div>                   
            </div>  
            <div class="col-4"></div>
        </div>
        
    </div>
    
   