<div class="recents">
    <div class="container">
        <h2 class="titre">Projets en cours</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col projets">
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#content" aria-expanded="false">
                    <div class="row">
                        <div class="col titreProjet">
                            <h4>Titre projet 1</h4>
                        </div>
                        <div class="col-sm-auto lienGithub">
                            <a href={{ .Site.Params.github }}><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <p>Brève description</p>
                </button>
                <div class="btn-collapse collapse" id="content">
                    <div class="temoignage">
                        <h5>Auteur: </h5>
                        <p class="titre2">T&eacutemoignage sur le projet:</p>
                        <p class="texte">Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                    </div>
                </div>              
            </div>
            <div class="col projets">
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#projet2" aria-expanded="false">
                    <div class="row">
                        <div class="col titreProjet">
                            <h4>Titre projet 2</h4>
                        </div>
                        <div class="col-sm-auto lienGithub">
                            <a href={{ .Site.Params.github }}><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <p>Brève description</p>
                </button>
                <div class="btn-collapse collapse" id="projet2">
                    <div class="temoignage">
                        <h5>Auteur: </h5>
                        <p class="titre2">T&eacutemoignage sur le projet:</p>
                        <p class="texte">Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col contribution">
                <h2>Comment contribuer aux divers projets</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Minus, provident quia ducimus perspiciatis itaque obcaecati
                aut cum nulla officiis fugiat inventore illo beatae earum a laudantium veniam tempora hic id.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eum, adipisci, beatae quaerat magni
                necessitatibus aliquam tempora asperiores accusantium explicabo, cum cumque aspernatur nostrum perferendis 
                vel totam eos. Repellat, assumenda?</p>
            </div>
        </div>
    </div>
</div>