<div class="projets-recents">
    <h2 class="titre">Projets termin&eacutes</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel">
                    <div class="row">
                        <div class="col-sm-9 titreProjet">
                            <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#PROJET1">
                                <div class="row align-items-center">
                                    <div class="col titreProjet">
                                        <h4>Titre projet 1</h4>
                                        <p>Brève description</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-sm-3 lienGithub">
                            <a href={{ .Site.Params.github }}><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="btn-collapse collapse" id="PROJET1">
                        <div class="temoignage">
                            <h5>Auteur: </h5>
                            <p class="titre2">T&eacutemoignage sur le projet:</p>
                            <p class="texte">Anim pariatur cliche reprehenderit, enim eiusmod high life.Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="row">
                        <div class="col-sm-9 titreProjet">
                            <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#PROJET2">
                                <div class="row">
                                    <div class="col titreProjet">
                                        <h4>Titre projet 2</h4>
                                        <p>Brève description</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-sm-3 lienGithub">
                            <a href={{ .Site.Params.github }}><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="btn-collapse collapse" id="PROJET2">
                        <div class="temoignage">
                            <h5>Auteur: </h5>
                            <p class="titre2">T&eacutemoignage sur le projet:</p>
                            <p class="texte">Anim pariatur cliche reprehenderit, enim eiusmod high life.Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel">
                    <div class="row">
                        <div class="col-sm-9 titreProjet">
                            <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#PROJET3">
                                <div class="row">
                                    <div class="col titreProjet">
                                        <h4>Titre projet 3</h4>
                                        <p>Brève description</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-sm-3 lienGithub">
                            <a href={{ .Site.Params.github }}><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="btn-collapse collapse" id="PROJET3">
                        <div class="temoignage">
                            <h5>Auteur: </h5>
                            <p class="titre2">T&eacutemoignage sur le projet:</p>
                            <p class="texte">Anim pariatur cliche reprehenderit, enim eiusmod high life.Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="row">
                        <div class="col-sm-9 titreProjet">
                            <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#PROJET4">
                                <div class="row align-items-center">
                                    <div class="col titreProjet">
                                        <h4>Titre projet 4</h4>
                                        <p>Brève description</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-sm-3 lienGithub">
                            <a href={{ .Site.Params.github }}><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="btn-collapse collapse" id="PROJET4">
                        <div class="temoignage">
                            <h5>Auteur: </h5>
                            <p class="titre2">T&eacutemoignage sur le projet:</p>
                            <p class="texte">Anim pariatur cliche reprehenderit, enim eiusmod high life.Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <div class="container">
        <div class="contribution">
            <h2>Comment contribuer aux divers projets</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Minus, provident quia ducimus perspiciatis itaque obcaecati
            aut cum nulla officiis fugiat inventore illo beatae earum a laudantium veniam tempora hic id.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eum, adipisci, beatae quaerat magni
            necessitatibus aliquam tempora asperiores accusantium explicabo, cum cumque aspernatur nostrum perferendis 
            vel totam eos. Repellat, assumenda?</p>
        </div>
    </div>
</div>