{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}{{ if not $data }}{{ $data = index .Site.Data "fr-ca" }}{{ end }}{{ if not $data }}{{ $data = .Site.Data }}{{ end }}
<!-- Infra section -->
<div class="container my-5">
  <div class="row">
    <h2 class="title-border"><b>{{ i18n "infrastructure_title" }}</b></h2>
    <h3>{{ i18n "infrastructure_subtitle" }}</h3>
    <p>{{ i18n "infrastructure_desc" }}</p>
  </div>
  <div class="row">
    {{ range $data.projects.infrastructure }}
      <div class="col-12 col-lg-6 col-md-6">
       {{ partial "project_card" . }}
      </div>
    {{ end }}
  </div>
</div>
<!-- end infra project section -->

<!-- Progress project section -->
<div class="container my-5">
  <div class="row">
    <h2 class="title-border"><b>{{ i18n "projects_in_progress" }}</b></h2>
  </div>
  <div class="row">
    {{ range $data.projects.inProgress }}
      <div class="col-12 col-lg-6 col-md-6">
        {{ partial "project_card" . }}
      </div>
    {{ end }}
  </div>
</div>
<!-- end progress project section -->

<!-- Finished projects section -->
<div class="container my-5">
    <div class="row">
	<h2 class="title-border"><b>{{ i18n "projects_completed" }}</b></h2>
    </div>
    <div class="row">
	{{ $index := 0 }}
	{{ range $data.projects.done }}
	    {{ if or (eq $index 0) (eq $index 1) }}
		{{ $index = add $index 1 }}
		<div class="col-12 col-lg-6 col-md-6">
		    {{ partial "project_card" . }}
		</div>
	    {{ end }}
	{{ end }}
    </div>
    <div class="row btn-collapse collapse" id="PROJETS-APPARITION">
	{{ $index := 0 }}
	{{ range $data.projects.done }}
	    {{ if not (or (eq $index 0) (eq $index 1)) }}
		<div class="col-12 col-lg-6 col-md-6">
		    {{ partial "project_card" . }}
		</div>
	    {{ end }}
	    {{ $index = add $index 1 }}
	{{ end }}
    </div>
    <div class="row text-center mt-2" id="button-down" style="display: block">
	<h6 class="mb-0" style="border-bottom: solid 2px grey;">{{ i18n "see_more" }}</h6>
	<button class="btn" data-bs-toggle="collapse" data-bs-target="#PROJETS-APPARITION">
	    <i class="fa-solid fa-angles-down"></i>
	</button>
    </div>
    <div class="row text-center mt-2" id="button-up" style="display: none">
	<h6 class="mb-0" style="border-bottom: solid 2px grey;">{{ i18n "see_less" }}</h6>
	<button class="btn" data-bs-toggle="collapse" data-bs-target="#PROJETS-APPARITION">
	    <i class="fa-solid fa-angles-up"></i>
	</button>
    </div>
</div>
{{ end }}
