{{with .Site.Data.description }}
{{ if .enable }}
<section class="description"> 
    <div class="container">
        <h3>{{ .title }}</h3>
        <div class="row text-center">
            {{ range .application }}
            <div class="col-sm-4">
                <div class="card">
                    <div class="fa-3x">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title {{ .system }}">{{ .name }}</h5>
                        <p class="card-text {{ .type }}">
                            {{ .description }}
                        </p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}