{{with .Site.Data.description }}
{{ if .enable }}
<!-- Contribute section -->
<div class="contribute">
    <div class="container text-center py-5">
        <div class="row text-lg-start text-md-start py-2">
            <div class="col-12 col-lg-6 col-md-6">
                <p><b>{{ .contribute.subtitle | upper }}</b></p>
                <h3><b>{{ .contribute.title }}</b></h3>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="row mt-2">
                    <p>{{ .contribute.summary }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contribute section -->

<!-- Mentoring section -->
<div class="mentoring">
    <div class="container text-center py-5">
        <div class="row text-lg-start text-md-start">
            <div class="col-12 d-block d-md-none">
                <p><b>{{ .mentoring.subtitle | upper }}</b></p>
                <h3><b>{{ .mentoring.title }}</b></h3>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="row mt-2">
                    <p>{{ .mentoring.summary }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-none d-md-block">
                <p><b>{{ .mentoring.subtitle | upper }}</b></p>
                <h3><b>{{ .mentoring.title }}</b></h3>
            </div>
        </div>
    </div>
</div>
<!-- end mentoring section -->

<!-- Network section-->
<div class="network">
    <div class="container py-5">
        <div class="row text-center mx-lg-5 mx-md-5 py-2">
            <div class="col mx-lg-5">
                <p><b>{{ .network.subtitle | upper }}</b></p>
                <h3><b>{{ .network.title }}</b></h3>
                <div class="row">
                    <div class="col mx-lg-5 mx-md-5">
                        <p class="mt-2">{{ .network.summary }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mx-lg-5 mx-md-5">
            {{ range .network.members }}
            <div class="col-12 col-lg-6 col-md-6">
                <div class="row text-center align-center">
                    <p><b>« {{ .text }} »</b></p>
                    <div class="col">
                        <img src="{{ .image }}" alt="test">
                    </div>
                    <p class="mt-2">{{ .name }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<!-- end network section -->
{{ end }}
{{ end }}