{{ with .Site.Data.equipe}}
{{ if .enable}}
<div class="row">
    <h2 style="border-bottom: solid 2px grey;"><b>{{ .title }}</b></h2>
</div>

<!-- Members section -->
<div class="members">
    <div class="container py-5">
        <div class="row text-center">
            {{ range .membres}}
            <div class="col-md-4 col-sm-6 my-3">
                <div class="member">
                    <div class="image mb-4">
                        {{ if .image }}
                        <img src="{{ .image | relURL }}" alt="{{.name}}" style="box-shadow: 0px 10px 10px 0px black;">
                        {{ else }}
                        <img src="{{ .Site.baseurl }}/images/membres/anonyme.jpg" alt="{{.name}}" style="box-shadow: 0px 10px 10px 0px black;">
                        {{ end }}
                    </div>
                    <div class="member-information">
                        <h4>{{.name}}</h4>
                        <h5>{{.post}}</h5>
                    </div>
                    {{ if .social }}
                    <div class="row">
                        <div class="social-links">
                            {{ range .social}}
                                <a class="mx-1" href="{{.url}}"><i class="fab fa-{{ .title }} fa-lg"></i></a>
                            {{end}}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>

<!-- Becoming member section -->
<div class="becoming-member">
    <div class="container">
        <div class="row py-3 mt-5">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <a class="btn py-2 px-5" href="{{ .button.url }}">{{ .button.becomingMember }}</a>
                </div>
            </div>            
        </div>
    </div>
</div>
{{end}}
{{end}}
