{{ with .Site.Data.equipe}}
{{ if .enable}}
<div class="row">
    <h2 class="title-border"><b>{{ .title }}</b></h2>
</div>

<!-- Members section -->
<div class="members">
    <div class="container py-5">
        <div class="row text-center">
            {{ range .membres}}
            <div class="col-md-4 col-sm-6 my-3">
                <div class="member">
                    <div class="image mb-4">
                        {{ if .image }}
                        <img src="{{ .image | relURL }}" alt="{{.name}}" class="member-image">
                        {{ else }}
                        <img src="{{ .Site.baseurl }}/images/membres/anonyme.jpg" alt="{{.name}}" class="member-image">
                        {{ end }}
                    </div>
                    <div class="member-information">
                        <h4>{{.name}}</h4>
                        <h5>{{.post}}</h5>
                    </div>
                    {{ if .social }}
                    <div class="row">
                        <div class="social-links">
                            {{ range .social}}
                                <a class="mx-1" href="{{.url}}"><i class="fab fa-{{ .title }} fa-lg"></i></a>
                            {{end}}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>

<div class="row">
    <h2 style="border-bottom: solid 2px grey;"><b>Anciens Membres</b></h2>
</div>

<div class="members">
    <div class="container py-5">
        <div class="row text-center">
            {{ range .anciensmembres}}
            <div class="col-md-4 col-sm-6 my-3">
                <div class="member">
                    <div class="image mb-4">
                        {{ if .image }}
                        <img src="{{ .image | relURL }}" alt="{{.name}}" class="member-image">
                        {{ else }}
                        <img src="{{ .Site.baseurl }}/images/membres/anonyme.jpg" alt="{{.name}}" class="member-image">
                        {{ end }}
                    </div>
                    <div class="member-information">
                        <h4>{{.name}}</h4>
                        <h5>{{.post}}</h5>
                    </div>
                    {{ if .social }}
                    <div class="row">
                        <div class="social-links">
                            {{ range .social}}
                                <a class="mx-1" href="{{.url}}"><i class="fab fa-{{ .title }} fa-lg"></i></a>
                            {{end}}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
<!-- Becoming member section -->
<div class="becoming-member">
    <div class="container">
        <div class="row py-3 mt-5">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <a class="btn py-2 px-5" href="{{ .button.url }}">{{ .button.becomingMember }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{end}}

<style>
.members .member {
    text-align: center;
}

.member-image {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member-image:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.member-information h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
}

.member-information h5 {
    font-size: 1rem;
    font-weight: normal;
    color: #555;
}

.social-links a {
    color: #333;
    transition: color 0.3s ease;
}

.becoming-member {
    text-align: center;
}

.becoming-member a {
    font-size: 1.25rem;
    font-weight: bold;
}
</style>
