{{with .Site.Data.faq }}
{{ if .enable }}
<!-- FAQ section -->
<div class="faq">
    <div class="container py-5">
        <div class="row text-center text-lg-start text-md-start py-3 mb-4">
            <h3><b>{{ .title }}</b></h3>
            <div class="mt-2 col-lg-5 col-md-5">
                <p>{{ .text.first }}</p>
            </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFaq">
          {{ range .accordion }}
          <div class="accordion-item">
            <h2 class="accordion-header" id="{{ .idHeader }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ .target }}" aria-expanded="false" aria-controls="{{ .target }}">
                <b>
                  {{ .question }}
                </b>
              </button>
            </h2>
            <div id="{{ .target }}" class="accordion-collapse collapse" aria-labelledby="{{ .idHeader }}" data-bs-parent="#{{ .idParent }}">
              <div class="accordion-body">{{ .response | safeHTML }}</div>
            </div>
          </div>
          {{ end }}
        </div>
        <div class="row text-center text-lg-start text-md-start py-3 mt-5">
            <div class="col-lg-5 col-md-5">
                <h4><b>{{ .questionTitle }}</b></h4>
                <p class="mt-3">{{ .text.second }}</p>
                <a class="btn py-2 px-4" href="{{ .button.url }}">{{ .button.contactUs }}</a>
            </div>
        </div>
    </div>
</div>
<!-- end faq section -->
{{ end }}
{{ end }}