<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <div class="name-address">
                    <h3>{{ .Site.Params.address.title }}</h3>
                </div>
                <div class="adresse">
                    {{ .Site.Params.address.address | safeHTML }} 
                </div>     
            </div>

            {{ $socialIcons := .Site.Params.social }}
            <div class="footer-col">
                <div class="follow-us">
                    <h3>{{ .Site.Params.titleFollowUs }}</h3>
                </div>
                <div class="social-links">
                    {{ range $socialIcons }}
                    <a target="_blank" href={{ .url }}><i class="{{ .icon }}"></i></a>
                    {{ end }}
                </div>
                <div class="year">    
                    <span class="copyleft">{{ .Site.Params.copyleft }}</span> {{ .Site.Params.year }} | {{ site.Title }}
                </div>
            </div>
        </div>
    </div>
</div>


                   
