<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h3>C&eacutedille</h3>
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="footer-col">
                <h3>Adresse</h3>
                <div class="adresse">
                    1219 Rue William
                    <br>Montr&eacuteal (Qu&eacutebec) 
                    <br>H3C 1R1
                    <br>Local D-2020 
                    <br>
                    <br>T&eacutel&eacutephone: (514)-396-8800 poste 7302
                </div>     
            </div>
        </div>
        <div class="social-links">
            <ul>

            </ul>
            <span class="copy">Copyleft <span class="copyleft">©</span> {{ site.Title }}</span>
        </div>
    </div>
</footer>


                   