<div class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="coordonnees">
                    
                </div>
                <div class="medias">
                    <p>Venez nous suivre</p>
                    <ul>
                        <li>github</li>
                        <li><a href=""></a>facebook</li>
                        <li>linkedin</li>
                        <li>twitter</li>
                        <li>instagram</li>
                    </ul>
                </div>
                <div class="copyright">
                    <span class="copy">Copyleft <span class="copyleft">©</span> {{ site.Title }}</span>
                </div>
            </div>
        </div>
    </footer>
</div>

                   