<header>
  <nav class="navbar navbar-expand-lg py-3">
    <div class="container">
      {{ if not (in .Name "Accueil") }}
      <div class="">
        <a class="navbar-brand" href="{{ relref . "/" }}">
          {{ .Site.Title | upper }}
        </a>
        <span contenteditable="true" id="editable-underscore" class="blink"></span>
      </div>
      <span id="responseId" style="display:none; margin-left: 10px; margin-right: auto;"></span>
      <span id="loading" style="display:none; margin-left: 10px; margin-right: auto;">processing...</span>
      {{ end }}
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          {{ $current := .}}
          {{ range .Site.Menus.main }}
          {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
          {{ $active = or $active (eq .Name $current.Title) }}
          {{ $active = or $active (and (eq .Name "À propos") (eq $current.Section "a-propos")) }}
          {{ $active = or $active (and (eq .Name "Équipe") (eq $current.Section "equipe")) }}
          {{ $active = or $active (and (eq .Name "Projets") ( eq $current.Section "projets")) }}
          {{ $active = or $active (and (eq .Name "Événements") ( eq $current.Section "evenements")) }}
          {{ $active = or $active (and (eq .Name "Partenaires") (eq $current.Section "partenaires")) }}
          {{ $active = or $active (and (eq .Name "Joignez l'équipe") (eq $current.Section "contact")) }}
          <li class="{{ if $current.IsMenuCurrent "main" . }}active{{ end }} nav-item">
            {{ if eq .Name "Joignez l'équipe" }}
            <a class="link-navbar btn p-1 {{ if $active }}active{{ end }} nav-item" href="{{ .URL | relURL }}">
              {{ .Name }}
            </a>
            {{ else }}
            <a class="{{ if $active }}active{{ end }} nav-item" href="{{ .URL | relURL }}">
              {{ .Name }}
            </a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>

{{ $shellJS := resources.Get "js/shell-handler.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $shellJS.RelPermalink }}" defer></script>
