{{with .Site.Data.hero }}
{{ if .enable }}
<!-- hero section -->
<div class="hero-section py-4">
    <div class="container py-5">
        <div class="row g-0 mt-4">
            <div class="col-5 my-auto">
                <div class="container">
                    <h1 class="mb-4"><b>{{ .content.title }}</b></h1>
                    <p>{{ .content.text }}</p>
                </div>
            </div>
            <div class="col-7 text-center">
                <img style="width: 420px; height: 530px;" src="{{ .logoCedille }}" alt="logo-cedille">
            </div>
        </div>
    </div>
</div>
<!-- end hero section -->
{{ end }}
{{ end }}
    