{{ with .Site.Data.membres}}
{{ if .enable}}
<section class="members">
    <div class="container">
        <h3>{{ .title }}</h3>
        <div class="row text-center">
            {{ range .membres}}
            <div class="col-sm-4">
                <div class="member-description">
                    <div class="img-container">
                        {{ if .image }}
                        <img src="{{ .image | relURL }}" alt="{{.name}}">
                        {{ else }}
                        <img src="{{ .Site.baseurl }}/images/membres/anonyme.jpg" alt="{{.name}}">
                        {{ end }}
                        {{ if .social }}
                        <div class="middle text-center">
                            <div class="social-links row d-flex">
                                {{ range .social}}
                                <div class="col-sm-6 p-4">
                                    <a href="{{.url}}"><i class="fab fa-{{ .title }}"></i></a>
                                </div>
                                {{end}}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <div class="member-information">
                        <h4>{{.name}}</h4>
                        <h5>{{.post}}</h5>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>
<section class="becoming-member">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="panel">
                    <a href="/contact"><h4>Devenir membre</h4></a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
{{end}}
