{{with .Site.Data.motivation }}
{{ if .enable }}
<!-- Motivation section -->
<div class="motivation">
    <div class="container py-5" style="background-color: rgba(0, 0, 0, 0.822);">
        <div class="row text-center mx-5 py-2 mt-5">
            <div class="col mx-lg-5 mx-md-5">
                <p><b>{{ .subtitle | upper }}</b></p>
                <h3><b>{{ .title }}</b></h3>
                <div class="row mx-lg-5 mx-lg-5 px-lg-5 py-3">
                    <div class="col mx-lg-5 mx-md-5 px-lg-5 px-md-5">
                        <p class="mt-2">{{ .summary }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="slide-track">
                {{ range .logos }}
                <div class="slide">
                    <a href="{{ .url }}" target="_blank"><img src="{{ .image }}" alt="{{ .alt }}"></a>
                </div>   
                {{ end }}
            </div>
        </div>
    </div>
</div>
<!--end motivation section -->
{{ end }}
{{ end }}