<div class="notification py-2" id="notification-bar" style="background-color: rgba(255, 166, 0, 0.748);">
    <div class="container">
        <div class="row text-center">
            <p class="m-0">🛑 Attention : En raison d'une demande exceptionnellement élevée, nous ne pouvons temporairement plus accepter de nouvelles demandes pour développer des sites web pour d'autres clubs. Pendant ce temps, nous continuons d'assurer l'hébergement. Pour toute question ou mise à jour,  veuillez nous rejoindre sur Discord.</p>
        </div>
    </div>
</div>