{{ with .Site.Data.projetsEnCours }}
{{ if .enable }}
    <div class="d-flex justify-content-end">
        <a href="#contribute" class="open-button">Comment contribuer</a>
    </div>
    <div class="container">
        <h2 class="titre">Projets en cours</h2>
        <div class="row mx-4">
            {{ range .projects }}
            <div class="col-sm-6">
                <div class="github-card" data-github="clubcedille/{{ .repo }}" data-width="100%" data-height="" data-theme="default"></div>
            </div>
            {{ end }}  
        </div>
    </div>
{{ end }}
{{ end }}
