{{ with .Site.Data.projetsTermines }}
{{ if .enable }}
<div class="container">
    <h2 class="titre">{{ .titleProjects }}</h2>
    <div class="row">
        {{ range .firstSection }}
        <div class="col-sm-6">
            <div class="panel">
                <div class="row">
                    <div class="col-sm-9 titreProjet">
                        <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#{{ .projectTarget }}">
                            <div class="row align-items-center">
                                <div class="col titreProjet">
                                    <h4>{{ .title }}</h4>
                                    <p>{{ .smDescription }}</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-sm-3 lienGithub">
                        <a href={{ .url }}><i class="{{ .icon }}"></i></a>
                    </div>
                </div>
                <div class="btn-collapse collapse" id="{{ .projectTarget }}">
                    <div class="temoignage">
                        <h5>Auteur: </h5>
                        <p class="titre2">{{ .subTitle }}</p>
                        <p class="texte">{{ .review }}</p>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="row btn-collapse collapse" id="PROJETS-APPARITION">
        <div class="col-sm-6">
            <div class="panel">
                <div class="row">
                    <div class="col-sm-9 titreProjet">
                        <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#PROJET2-TERMINES">
                            <div class="row">
                                <div class="col titreProjet">
                                    <h4>Titre projet 2</h4>
                                    <p>Brève description</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-sm-3 lienGithub">
                        <a href={{ .Site.Params.github }}><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="btn-collapse collapse" id="PROJET2-TERMINES">
                    <div class="temoignage">
                        <h5>Auteur: </h5>
                        <p class="titre2">T&eacutemoignage sur le projet:</p>
                        <p class="texte">Anim pariatur cliche reprehenderit, enim eiusmod high life.Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="row">
                    <div class="col-sm-9 titreProjet">
                        <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#PROJET4-TERMINES">
                            <div class="row align-items-center">
                                <div class="col titreProjet">
                                    <h4>Titre projet 4</h4>
                                    <p>Brève description</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-sm-3 lienGithub">
                        <a href={{ .Site.Params.github }}><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="btn-collapse collapse" id="PROJET4-TERMIMES">
                    <div class="temoignage">
                        <h5>Auteur: </h5>
                        <p class="titre2">T&eacutemoignage sur le projet:</p>
                        <p class="texte">Anim pariatur cliche reprehenderit, enim eiusmod high life.Anim pariatur cliche reprehenderit, enim eiusmod high life</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-flex-row text-center" id="button-down" style="display: block">
        <h6 class="titre-bouton">Voir plus</h6>
        <div class="fa-2x">
            <button onclick="hideButtonDown()" class="btn" data-bs-toggle="collapse" data-bs-target="#PROJETS-APPARITION"><i class="fa-solid fa-angles-down"></i></button>         
        </div>
    </div>
    <div class="d-flex-row text-center" id="button-up" style="display: none">
        <h6 class="titre-bouton">Voir moins</h6>
        <div class="fa-2x">
            <button onclick="hideButtonUp()" class="btn" data-bs-toggle="collapse" data-bs-target="#PROJETS-APPARITION"><i class="fa-solid fa-angles-up"></i></button>         
        </div>
    </div>
</div>
{{ end }}
{{ end }}