{{ with .Site.Data.projetsEnCours }}
{{ if .enable }}
    <a href="#contribute" class="open-button">Comment contribuer</a>
    <div class="container">
        <h2 class="titre">Projets en cours</h2>
        <div class="row">
            <div class="col-sm-6">
                {{ range .leftSection }}
                <div class="panel">
                    <div class="row">
                        <div class="col-sm-9 titreProjet">
                            <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#{{ .projectTarget }}">
                                <div class="row align-items-center">
                                    <div class="col titreProjet">
                                        <h4>{{ .title }}</h4>
                                        <p>{{ .smDescription }}</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-sm-3 lienGithub">
                            <a href={{ .url }}><i class="{{ .icon }}"></i></a>
                        </div>
                    </div>
                    {{/*  <div class="btn-collapse collapse" id="{{ .projectTarget }}">
                        <div class="temoignage">
                            <h5>Auteur: {{ .name }}</h5>
                            <p class="titre2">{{ .subTitle }}</p>
                            <p class="texte">{{ .review }}</p>
                        </div>
                    </div>  */}}
                </div>
                {{ end }}
            </div>
            <div class="col-sm-6">
                {{ range .rightSection }}
                <div class="panel">
                    <div class="row">
                        <div class="col-sm-9 titreProjet">
                            <button class="accordion-toggle btn" data-bs-toggle="collapse" data-parent="#accordion" data-bs-target="#{{ .projectTarget }}">
                                <div class="row">
                                    <div class="col titreProjet">
                                        <h4>{{ .title }}</h4>
                                        <p>{{ .smDescription }}</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-sm-3 lienGithub">
                            <a href={{ .url }}><i class="{{ .icon }}"></i></a>
                        </div>
                    </div>
                    {{/*  <div class="btn-collapse collapse" id="{{ .projectTarget }}">
                        <div class="temoignage">
                            <h5>Auteur: {{ .name }}</h5>
                            <p class="titre2">{{ .subTitle }}</p>
                            <p class="texte">{{ .review }}</p>
                        </div>
                    </div>  */}}
                </div>
                {{ end }}
            </div>   
        </div>
    </div>
{{ end }}
{{ end }}
