    <section class="sites-heberges">
        <div class="container">
            <h3>Sites heberg&eacutes</h3>
        </div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-blanc.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-new.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-blanc.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-new.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-blanc.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-new.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-blanc.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-new.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-blanc.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-new.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-blanc.png" alt="logoets"></a>
                </div>
                <div class="slide">
                    <a href="#"><img src="/images/cedille-logo-new.png" alt="logoets"></a>
                </div>
            </div>
        </div>
    </section>
</div>