{{ define "main" }}
    {{ with $.Site.Data.partenaires }}
        <div class="partenaires-section my-5">
            <div class="container">
                <div class="row">
                    <h2 style="border-bottom: solid 2px grey;"><b>{{ .title }}</b></h2>
                </div>
                <div class="row mx-5">
                    {{ range .partnerships }}
                    <div class="card my-3" style="flex-direction: row;">
                        {{ if .imageSide }}
                        <div class="card-body d-flex align-items-center">
                            <div class="row ms-3 me-5">
                                <img src="/images/Partenaire/banque-nationale-logo-transparent.png" alt="" style="width:150px; height:130px;">
                                <p>{{ .text }}</p>
                            </div>
                            <img src="/images/Partenaire/banque-nationale-logo-transparent.png" alt="" width="450px">
                        </div>
                        {{ else }}
                        <img src="/images/Partenaire/banque-nationale-logo-transparent.png" alt="" width="450px">
                        <div class="card-body d-flex align-items-center">
                            <div class="row ms-3 me-5">
                                <img src="/images/Partenaire/banque-nationale-logo-transparent.png" alt="" style="width:150px; height:130px;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                            
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                <div class="row m-5 text-center">
                    
                        <h4><b>Help us blablabla</b></h4>
                        <div class="col mx-5">
                            <div class="row">
                                <div class="col mx-5 mt-2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                                </div>
                            </div>
                            <div class="row mt-2 mx-5 px-5">
                                <div class="col text-end">
                                    <a class="btn py-2 px-4" href="/contact">Become a partner</a>
                                </div>
                                <div class="col text-start">
                                    <div class="mt-2">
                                        <a target="_blank" href="{{ .pdf | relURL }}" style="text-decoration: none; color:black;">
                                            See our partnership formulas
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}