{{ define "main" }}
{{ $address := .Site.Params.address }}
<div class="contact">
  <div class="figure w-100" >
    <section class="rectangle"></section>
    <section class="triangle text-center">
      <h2>Pour nous contacter</h2>
    </section>
  </div>
  <div class="formulaire">
    
  </div>
  <div class="container-fulid">
    <div class="row g-0">
      <div class="col-md-6">
        <div id="map">
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-info">
          <h3>
            {{ $address.address | safeHTML}}
          </h3>
          <ul>
            <li>
              <a href="mailto: {{ $address.email }}">
                {{ $address.email }}
              </a>
            </li>
          </ul>
          <p>Texte à mettre</p>
        </div>
      </div>
    </div>
  </div>
</div>
    {{/*  <div class="left" id="left">
      <div class="panel">
        <button onClick="closeSlideLeft()" id="btn-closeXLeft" class="btn-close" data-bs-toggle="collapse" data-bs-target="#test1" aria-expanded="false" aria-controls="test1"></button>
        <h4>Devenir membre</h4>
        <p>Texte implication</p>
        <button onClick="slideRight()" id="btn-open1" class="btn" data-bs-toggle="collapse" data-bs-target="#test1" aria-expanded="false" aria-controls="test1">
          Appliquer
        </button>
        <button onClick="closeSlideLeft()" id="btn-close1" class="btn" data-bs-toggle="collapse" data-bs-target="#test1" aria-expanded="false" aria-controls="test1">
          Appliquer
        </button>
      </div>
      <div class="btn-collapse collapse" id="test1">
        <form class="membre">
          <div class="row">
            <div class="col">
              <label for="validationDefault01" class="form-label">Pr&eacutenom*</label>
              <input type="text" class="form-control" id="validationDefault01" required>
            </div>
            <div class="col">
              <label for="validationDefault02" class="form-label">Nom de famille*</label>
              <input type="text" class="form-control" id="validationDefault02" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="validationDefault03" class="form-label">Courriel*</label>
            <input type="email" class="form-control" id="validationDefault03" required>
          </div>
          <div class="mb-3">
            <label for="validationDefault04" class="form-label">Formation*</label>
            <select class="form-select" id="validationDefault04" required>
              <option selected disabled value="">Choissisez une formation</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="validationDefault05" class="form-label">Programme d'&eacutetudes</label>
            <select class="form-select" id="validationDefault05" required>
              <option selected>Choissisez un programme</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="validationDefault06" class="form-label">Exp&eacuterience*</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="validationDefault06" style="height: 100px" required></textarea>
          </div>
          <div class="mb-3">
            <label for="validationDefault07" class="form-label">Int&eacuter&ecircts*</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="validationDefault07" style="height: 100px" required></textarea>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Agree to terms and conditions
              </label>
            </div>
          </div>
          <div class="mb-3">
            <button class="btn" type="submit">
              Envoyer
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="right" id="right">
      <div class="panel">
        <button onClick="closeSlideRight()" id="btn-closeXRight" class="btn-close" data-bs-toggle="collapse" data-bs-target="#test2" aria-expanded="false" aria-controls="test1"></button>
        <h4>Devenir partenaire</h4>
        <p>Texte implication</p>
        <button onClick="slideLeft()" id="btn-open2" class="btn" data-bs-toggle="collapse" data-bs-target="#test2" aria-expanded="false" aria-controls="test2">
          Appliquer
        </button>
        <button onClick="closeSlideRight()" id="btn-close2" class="btn" data-bs-toggle="collapse" data-bs-target="#test2" aria-expanded="false" aria-controls="test1">
          Appliquer
        </button>
      </div>
      <div class="btn-collapse collapse" id="test2">
        <form class="partenaire">
          <div class="row g-2">
            <div class="col-sm-6">
              <label for="validationDefault01" class="form-label">Pr&eacutenom*</label>
              <input type="text" class="form-control" id="validationDefault01" required>
            </div>
            <div class="col-sm-6">
              <label for="validationDefault02" class="form-label">Nom de famille*</label>
              <input type="text" class="form-control" id="validationDefault02" required>
            </div>
            <div class="col-sm-6">
              <label for="validationDefault03" class="form-label">Courriel*</label>
              <input type="email" class="form-control" id="validationDefault02" required>
            </div>
            <div class="col-sm-6">
              <label for="validationDefault04" class="form-label">Organisation*</label>
              <input type="text" class="form-control" id="validationDefault04" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="validationDefault05" class="form-label">Message*</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="validationDefault05" style="height: 100px" required></textarea>
          </div>
          <div class="mb-3">
            <button class="btn" type="submit">
              Envoyer
            </button>
          </div>
        </form>
      </div>
    </div>  */}}
{{ end }}