{{ define "main" }}
{{ $address := .Site.Params.address }}
<div class="contact mt-5">
  {{/*  <div class="figure w-100" >
    <section class="rectangle"></section>
    <section class="triangle text-center">
      <h2>{{ .Site.Params.titleContactPage }}</h2>
    </section>
  </div>  */}}
  <div class="container">
    <div class="row">
      <h2 style="border-bottom: solid 2px grey;"><b>Contact</b></h2>
    </div>
  </div>
  <div class="container form-contact mt-4 mb-5 pb-4">
    {{ partial "formContact.html" . }}
  </div>
  <div class="container-fulid">
    <div class="row g-0">
      <div class="col-md-6">
        <div id="map"></div>
      </div>
      <div class="col-md-6 text-center text-md-start">
        <div class="contact-info">
          <h3>
            {{ $address.address | safeHTML}}
          </h3>
          <ul>
            <li>
              <a href="mailto: {{ $address.email }}">
                {{ $address.email }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  jQuery(document).ready(function test() {
    let selectedTab = location.hash.replace(/^#/, ''); 

    $('.nav-link[id="' + selectedTab +'"]' ).trigger('click');
    console.log(selectedTab);
  })
</script>
{{ end }}