*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(217, 214, 214);
}

/*--------------- LOADING SECTION ----------------*/
#myDiv{
    display: none;
}
/*--------------- SCROLLBAR SECTION --------------*/
::-webkit-scrollbar{
    width: 17px;
    background-color: rgba(0, 0, 0, 0.822);
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.822);
    border-radius: 10px;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 10px 10px 10px rgba(255, 166, 0, 0.748);
    border: solid 4px transparent;
}

/*--------------- HEADER SECTION -----------------*/
.navbar{
    background-color: rgba(0, 0, 0, 0.822);
}

.navbar .navbar-nav-a{
    align-items: center;
    justify-content: center;
}

img{
    height: 110px;
    font-size: 1.5rem;
}

.navbar-collapse ul li{
    list-style: none;
}

.navbar-collapse ul li a{
    color: rgba(255, 166, 0, 0.748);
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 4px;
    transition: all 0.3s ease;
    opacity: none;
}

.navbar-collapse a.active{
    border-radius: 4px;
    background-color: rgba(255, 166, 0, 0.748);
    color: white;
}

.navbar-collapse a:hover{
    background-color: rgba(255, 166, 0, 0.925);
    color: white;
}

.navbar-collapse .dropdown-menu{
    background-color: rgba(11, 11, 11, 0.721);
}

.navbar-collapse .nav-link{
    color: rgba(255, 166, 0, 0.748);
    padding: 9px 15px!important;
}

.navbar-collapse .dropdown-menu .item{
    margin: 10px 0px;
}

/*-------------  BURGER ICON ---------------*/

.navbar-toggler{
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.748);
    display: block;
    transition: all 0.2s;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon{
    background-color: rgba(255, 166, 0, 0.748);
}

@media only screen and (max-width:990px){

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-collapse{
        width: 100%;
    }

    .navbar-collapse ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-collapse ul li a{
        color: rgba(255, 166, 0, 0.748);
        text-decoration: none;
        padding: 8px 8px;
        font-size: 18px;
        line-height: 38px;
        transition: all 0.3s ease;
        opacity: none;
    }

    .navbar-collapse .dropdown-menu{
        background-color: grey;
        border: none;
    }

    .navbar-collapse .nav-link{
        padding: 0px 8px!important;
        margin-bottom: 1px;
    }

}

/*---------------- FOOTER SECTION -------------*/

.footer{
    background-color: rgb(14, 14, 14);
    opacity: 85%;
    padding: 15px 0;
    color: rgba(255, 166, 0, 0.748);
    font-size: 15px;
    z-index: 2;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.footer .row .footer-col{
    width: 50%;
    padding: 0px 15px;
    text-align: center;
}

.footer .row .footer-col h3{
    font-size: 19px;
    margin-bottom: 20px;
    position: relative;
}

.footer .footer-col .name-address h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    height: 1px;
    box-sizing: border-box;
    background-color: rgba(255, 166, 0, 0.748);
    width: 62px;
    margin-left: 4px;
    text-align: center;
}

.footer .row .footer-col .follow-us h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    height: 1px;
    box-sizing: border-box;
    background-color: rgba(255, 166, 0, 0.748);
    width: 90px;
    margin-left: 8px;
    text-align: center;
}

.footer .row .footer-col .social-links a{
    display: inline-flex;
    background-color: rgba(255, 166, 0, 0.748);
    border-radius: 100%;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5s ease;
    color: rgba(242, 238, 238, 0.941);
}

.footer .row .footer-col .social-links a:hover{
    color: rgba(255, 166, 0, 0.748);
    background-color: rgb(221, 207, 207);
}

.footer .row .footer-col .social-links i{
    vertical-align: text-top;
    justify-content: center;
}

.footer .row .footer-col .adresse{
    color: white;
}

.footer .row .footer-col .year{
    color: white;
    margin-top: 10px;
}

.footer .row .footer-col .year .copyleft{
    display: inline-block;
    transform: rotateY(180deg);
}

/*---------------- PROJECT PAGES -----------------*/
.projets-recents{
    min-height: 100vh
}

.projets-recents .open-button{
    padding: 10px 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 1;
    color: rgba(255, 166, 0, 0.748);
    border: none;
    text-decoration: none;
    position: fixed;
    right: 0px;
}

.projets-recents .open-button:hover{
    color: rgba(255, 255, 255, 0.787);
    transition: 0.2s all ease-in-out;
}

.projets-recents .container{
    padding-top: 10px;
    padding-bottom: 10px;
}

.projets-recents .titre{
    color: black;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
    border-bottom: solid 2px grey;
    margin-left: 1rem;
    margin-right: 1rem;
}

.projets-recents .col{
    text-align: left;
}

.projets-recents .panel{
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 10px 15px;
    transition: box-shadow .2s;
    margin: 10px 15px;
}

.projets-recents .panel:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.projets-recents .panel button{
    text-align: left;
    padding-right: 60%;
} 

.projets-recents .panel .btn:focus{
    box-shadow: none;
}

.projets-recents .panel .titreProjet{
    border-radius: 8px;
    text-align: left;
}

.projets-recents .panel .lienGithub{
    width: 120px;
    height: 50px;
    margin-top: 25px;
}

.projets-recents .panel a{
    color: rgba(255, 166, 0, 0.748);
    border-radius: 100%;
    background-color: black;
    display: inline-flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
    text-align: right;
}

.projets-recents .panel a:hover{
    height: 40px;
    width: 40px;
    color: rgba(255, 166, 0, 0.748);
    background-color: rgb(221, 207, 207);
}

.projets-recents .panel h4{
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.projets-recents .panel .temoignage{
    margin-top: 10px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(217, 214, 214);
}

.projets-recents .panel .temoignage h5{
    margin: 10px;
    font-weight: 600;
}

.projets-recents .panel .temoignage .titre2{
    margin: 10px;
    font-weight: 600;
}

.projets-recents .panel .temoignage .texte{
    margin: 10px;
}

.projets-recents .titre-bouton{
    color: black;
    margin-top: 5px;
    border-bottom: solid 2px grey;
    margin-bottom: -5px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.projets-recents .btn:focus{
    box-shadow: none;
}

.projets-recents .contribution{
    border-radius: 15px;
    margin: 0px 15px;
    padding: 15px;
    background-color: rgb(191, 189, 189);
    color: black;
    transition: box-shadow .2s;
}

.projets-recents .contribution:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.projets-recents .contribution h2{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    padding-bottom: 10px;
}

.projets-recents .contribution p {
    margin:10px;
    text-align: left;
    font-size: 20px;
}

@media screen and (max-width: 1199.5px){
    .projets-recents .panel .col-sm-9{
        margin-right: -15px;
    }
}

@media screen and (max-width: 991.5px){
    .projets-recents .panel .col-sm-9{
        margin-right: -45px;
    }
}

/* -------- Partenaire ----------*/
.partenaires{
    min-height: 100vh;
}

.partenaires .titre{
    color: black;
    font-weight: 600;
    margin-top: 15px;
    border-bottom: solid 2px grey;
    margin-left: 1rem;
    margin-right: 1rem;
}

.partenaires .partenaire{
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 10px 15px;
    transition: box-shadow .2s;
    margin: 10px 15px;
    align-content: center;
}

.partenaires .partenaire:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
    
}

.partenaires .partenaire a .bnc{
    width: 240px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.partenaires .partenaire a .ets{
    width: 290px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}


.partenaires .devenir-partenaire-panel{
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 10px 15px;
    transition: box-shadow .2s;
    margin: 10px 15px;
}

.partenaires .devenir-partenaire-panel:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}



.partenaires .devenir-partenaire-panel .btn:focus{
    box-shadow: none;
}


.partenaires .devenir-partenaire-panel .panel{
    display: flex;
    justify-content: center;
}

.partenaires .devenir-partenaire-panel .devenir-partenaire-link{
    margin-top: 15px;
    border-radius: 15px;
    background-color: rgb(217, 214, 214);
    padding: 20px 25px;
    text-decoration: none;
    color: black;
    transition: box-shadow .2s;
}

.partenaires .devenir-partenaire-panel a:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.partenaires .devenir-partenaire-panel .titre-devenir-partenaire{

    width: 100%;
}

.partenaires .devenir-partenaire-panel h2{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.partenaires .devenir-partenaire-panel .contenu{
    margin-top: 10px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(217, 214, 214);
}

.partenaires .devenir-partenaire-panel .contenu h4{
    margin: 10px;
    font-weight: 300;
}

.partenaires .devenir-partenaire-panel .contenu .texte{
    margin: 10px;
}

.partenaires .contenu{
    border-radius: 15px;
    margin: 0px 15px;
    padding: 15px;
    background-color: rgb(191, 189, 189);
    color: black;
    transition: box-shadow .2s;
}

.formulaire{
    margin-bottom: 25px;
}

.partenaires .contenu:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.partenaires .contenu h2{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    padding-bottom: 10px;
}

.partenaires .contenu p {
    margin:10px;
    text-align: left;
    font-size: 20px;
}


/* section faire un don*/
.partenaires .faire-don-panel{
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 10px 15px;
    transition: box-shadow .2s;
    margin: 10px 15px;
}

.partenaires .faire-don-panel:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.partenaires .faire-don-panel a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.cercle {

    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: rgb(60, 59, 59);

}

@media screen and (max-width:768px){

    .partenaires .partenaire a .bnc{
        width: 170px;
        height: 100px;
    }
    
    .partenaires .partenaire a .ets{
        width: 190px;
        height: 100px;
    }
}


@media screen and (max-width:575px){

    .partenaires .partenaire{
        align-content: center;
    }

}


/*----------  Fin partenaires ----------*/




/*--------------------------------- Début équipe ---------------------------------------*/
.equipe{
    min-height: 100vh;
}

.equipe .members{
    margin-top: 30px;
    margin-bottom: 40px;
}

.equipe .members h3{
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    border-bottom: solid 2px grey;
}

.equipe .img-container{
    position: relative; 
    border-radius: 100%;
    margin: 0px 100px;
}
.equipe .img-container img{
    width: 13.5rem;
    height: 13.5rem;
    border-radius: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    
}

.equipe .img-container .middle{
    opacity: 0;
    position: absolute;
    transition: .5s ease;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.equipe .img-container:hover img{
    opacity: 0.3;
}

.equipe .img-container:hover .middle{
    opacity: 1;
}

.equipe .img-container .middle .social-links a{
    background-color: rgba(255, 166, 0, 0.748);
    transition: transform ease 0.5s;
    border-radius: 100%;
    padding: 0.6rem;
    color: rgba(242, 238, 238, 0.941);
}

.equipe .img-container .middle .social-links a:hover{
    color: rgba(255, 166, 0, 0.748);
    background-color: rgb(221, 207, 207);
}

.equipe .becoming-member{
    padding: 20px 0px;
}

.equipe .becoming-member .panel {
    display: flex;
    justify-content: center;
}

.equipe .becoming-member .panel a {
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 25px 30px;
    text-decoration: none;
    color: black;
    transition: box-shadow .2s;
}

.equipe .becoming-member .panel a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

@media screen and (max-width:1399.5px){
    .equipe .img-container{
        margin: 0px 70px;
    }
}

@media screen and (max-width:1199.5px){
    .equipe .img-container{
        margin: 0px 40px;
    }
}

@media screen and (max-width:991.5px){
    .equipe .img-container{
        margin: 0px 0px;
    }
}

@media screen and (max-width:767.5px){
    .equipe .img-container{
        margin: 0px 15px;
    }
}

@media screen and (max-width:575.5px){
    .equipe .img-container{
        margin: 0px 167px;
    }

    .equipe .img-container .middle{
        left: 56%;
    }

    .equipe .img-container .middle .social-links a{
        margin: 0px 5px;
    }
}

@media screen and (max-width:541px){
    .equipe .img-container{
        margin: 0px 150px;
    }
}

@media screen and (max-width:426px){
    .equipe .img-container{
        margin: 0px 94px;
    }
}

@media screen and (max-width:414.5px){
    .equipe .img-container{
        margin: 0px 88px;
    }
}

@media screen and (max-width:394px){
    .equipe .img-container{
        margin: 0px 76.5px;
    }
}

@media screen and (max-width:390.5px){
    .equipe .img-container{
        margin: 0px 75px;
    }
}

@media screen and (max-width:375.5px){
    .equipe .img-container{
        margin: 0px 67px;
    }
}

@media screen and (max-width:360.5px){
    .equipe .img-container{
        margin: 0px 60px;
    }
}

@media screen and (max-width:320.5px){
    .equipe .img-container{
        margin: 0px 40px;
    }
}

@media screen and (max-width:281px){
    .equipe .img-container{
        margin: 0px 20px;
    }
}
/*-------- TEST -------*/
/*------------- CONTACT PAGE ------------*/
.contact{
    min-height: 100vh;
}

.contact .rectangle{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.822);
}

.contact .triangle {
  width: 100%;
  height: 200px;
  color: white;
  background-color: rgba(0, 0, 0, 0.822);
  opacity: 1;
  background-image:
    linear-gradient(to bottom left, transparent 50%, rgb(217, 214, 214) 0),
    linear-gradient(to top left, rgb(217, 214, 214) 50%, transparent 0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}

#map{
    height: 100%;
}

.contact .contact-info{
    background-color: #222029;
    padding: 80px;
}

.contact .contact-info h3{
    font-size: 25px;
    line-height: 38px;
    font-weight: 300;
    color: #fff;
}

.contact .contact-info ul{
    padding: 0;
    margin: 30px 0;
}

.contact .contact-info ul li{
    list-style: none;
}

.contact .contact-info ul li a{
    color: #fff;
    line-height: 32px;
    font-size: 19px;
    font-weight: 300;
    text-decoration: underline;
    font-family: system-ui;
}

.contact .contact-info p{
    color: #fff;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px){
    #map{
        height: 400px;
    }
}

.contact .left{
    width: 50%;
    background-color: rgb(101, 76, 30);
    padding: 10% 0%;
}

.contact .panel{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.contact .left .panel .btn-close{
    display: none;
    margin-left: 55%;
    margin-top: -5%;
    background-color: rgb(70, 51, 14);
}

.contact .left .panel .btn-close:focus{
    box-shadow: none;
}

#btn-close1{
    display: none;
}

#btn-close2{
    display: none;
}

.contact .right{
    width: 50%;
    background-color: orange;
    padding: 10% 0%;
    transition: all 1s ease-in-out;
}

.contact .right .panel .btn-close{
    display: none;
    margin-right: 55%;
    margin-top: -5%;
    background-color: rgb(109, 74, 8);
}

.contact .right .panel .btn-close:focus{
    box-shadow: none;
}

#test2{
    transition: all 0.2s ease-in-out;
}

.contact h4{
    font-weight: bold;
}

.contact .btn{
    border-radius: 4px;
    background-color: rgb(117, 116, 116);
}

.contact .btn:focus{
    box-shadow: none;
}

.contact .membre{
    margin: 0% 20%;
    border-radius: 4px;
}

.contact .partenaire{
    margin: 0% 20%;
    border-radius: 4px;
}

.contact .btn-collapse{
    padding-bottom: 10px;
}

/*----------- HOME PAGE ---------*/
.accueil{
    min-height: 100vh;
}

.accueil .presentation{
    background-color: rgba(0, 0, 0, 0.822);
    padding: 20px 0px;
    color: white;
    min-height: 60vh;
}

.accueil .presentation img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 35vh;
}

.accueil .presentation .text-club{
    text-align: center;
    padding-top: 10px;
}

.accueil .presentation .social-links{
    text-align: center;
    margin-top: 50px;
}

.accueil .presentation .social-links a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0px 6px;
    color: white;
}

.accueil .description{
    padding: 20px 0px;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.accueil .row{
    margin: 30px 0px;
}

.accueil .card{
    border-radius: 10px;
    background-color: rgb(191, 189, 189);
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}
.accueil .card-body h5{
    margin-bottom: 15px;
}

.accueil .fa-copyright{
    transform: rotateY(180deg);
}

.accueil .sites-heberges{
    padding-top: 3vh;
    background-color: rgba(206, 203, 203, 0.562);
    max-width: 100%;
}

.accueil  h3{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 700; /*A VERIFIER LE FONT-WEIGHT POUR PLUS*/
}

.accueil .slider{
    min-height: 20vh;
    position: relative;
    max-width: 100%;
    place-items: center;
    overflow: hidden;
}

.accueil .slider .slide-track{
    display: flex;
    width: calc(250px*22);
    animation: scroll 10s linear infinite;
}

.accueil .slider .slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*11));
    }
}

.accueil .slider .slide-track .slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 30px;
}

.accueil .slider .slide-track .slide img{
    width: auto;
}

.accueil .slider .slide-track .slide img:hover{
    height: 65%;
    width: 65%;
} 
@media screen and (max-width: 1399.5px){
    .accueil .description .card-body .system{
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 1199.5px){
    .accueil .description .card-body .system{
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 991.5px) {
    .accueil .description .card-body .title-logiciel{
        margin-left: 30px;
        margin-right: 30px;
    }

    .accueil .description .card-body .system{
        padding-bottom: 72px;
    }

    .accueil .description .card-body .knowledge{
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 767.5px) {
    .accueil .description .card-body .title-logiciel{
        margin: 0px 0px;
        margin-bottom: 15px;
    }

    .accueil .description .card-body .logiciel{
        padding-bottom: 48px;
    }

    .accueil .description .card{
        margin: 0px -5px
    }

}

@media screen and (max-width: 575.5px) {
    .accueil .description .card{
        margin: 15px 0px;
    }
}

/*---------------- TEAM PAGE ---------------- */
.equipe .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.equipe .becoming-member{
    padding: 50px 0px;
}

.equipe .panel {
    display: flex;
    justify-content: center;
}

.equipe .panel a {
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 35px 30px;
    text-decoration: none;
    color: black;
    transition: box-shadow .2s;
}

.equipe .panel a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}