*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

/*--------------- SCROLLBAR SECTION --------------*/
::-webkit-scrollbar{
    width: 17px;
    background-color: rgba(0, 0, 0, 0.822);
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.822);
    border-radius: 10px;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 10px 10px 10px orange;
    border: solid 4px transparent;
}

/*--------------- HEADER SECTION -----------------*/
header{
    background-color: #080808;
    color: white;
}

.navbar .navbar-nav-a{
    align-items: center;
    justify-content: center;
}

.navbar-brand{
    color: orange;
    margin-right: 0px;
}

.navbar-brand:hover{
    color: white;
}

#editable-underscore{
    margin-bottom: 20px;
    padding: 5px;
    color: orange !important;
    caret-shape: underscore;
    caret-color: black;
}

#editable-underscore::before{
    content: "> ";
}

#editable-underscore::after{
    content: "█";
    animation: blinker 0.6s linear infinite !important;
}

@keyframes blinker{
    50% {
        opacity: 0;
    }
}

.navbar .link-navbar{
    padding:0 10px 0 10px !important;;
    background-color: white;
    color: black !important;
}

.navbar .link-navbar:hover{
    background-color: orange;
    color: white !important;
}

.navbar-collapse ul li{
    list-style: none;
}

.navbar-collapse ul li a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 4px;
    transition: all 0.3s ease;
    opacity: none;
    font-weight: 400;
}

.navbar-collapse a.active{
    color:orange;
}

.navbar-collapse a:hover{
    color:orange;
}

.navbar-collapse .dropdown-menu{
    background-color: rgba(11, 11, 11, 0.721);
}

/*-------------  BURGER ICON ---------------*/

.navbar-toggler{
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color:orange;
    display: block;
    transition: all 0.2s;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon{
    background-color:orange;
}

@media only screen and (max-width:990px){

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-collapse{
        width: 100%;
    }

    .navbar-collapse ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-collapse ul li a{
        color: white;
        text-decoration: none;
        padding: 8px 8px;
        font-size: 18px;
        line-height: 38px;
        transition: all 0.3s ease;
        opacity: none;
    }

}

/*---------------- PROJECT PAGES -----------------*/
.projets-recents{
    min-height: 100vh
}

.projets-recents .open-button{
    padding: 10px 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 1;
    color:orange;
    border: none;
    text-decoration: none;
    position: fixed;
    right: 0px;
}

.projets-recents .open-button:hover{
    color: rgba(255, 255, 255, 0.787);
    transition: 0.2s all ease-in-out;
}

.projets-recents .container{
    padding-top: 10px;
    padding-bottom: 10px;
}

.projets-recents .titre{
    color: black;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
    border-bottom: solid 2px grey;
    margin-left: 1rem;
    margin-right: 1rem;
}

.projets-recents .col{
    text-align: left;
}

.projets-recents .panel{
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 10px 15px;
    transition: box-shadow .2s;
    margin: 10px 15px;
}

.projets-recents .panel:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.projets-recents .panel button{
    text-align: left;
    padding-right: 60%;
}

.projets-recents .panel .btn:focus{
    box-shadow: none;
}

.projets-recents .panel .titreProjet{
    border-radius: 8px;
    text-align: left;
}

.projets-recents .panel .lienGithub{
    width: 120px;
    height: 50px;
    margin-top: 25px;
}

.projets-recents .panel a{
    color:orange;
    border-radius: 100%;
    background-color: black;
    display: inline-flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
    text-align: right;
}

.projets-recents .panel a:hover{
    height: 40px;
    width: 40px;
    color:orange;
    background-color: rgb(221, 207, 207);
}

.projets-recents .panel h4{
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.projets-recents .panel .temoignage{
    margin-top: 10px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(217, 214, 214);
}

.projets-recents .panel .temoignage h5{
    margin: 10px;
    font-weight: 600;
}

.projets-recents .panel .temoignage .titre2{
    margin: 10px;
    font-weight: 600;
}

.projets-recents .panel .temoignage .texte{
    margin: 10px;
}

.projets-recents .titre-bouton{
    color: black;
    margin-top: 5px;
    border-bottom: solid 2px grey;
    margin-bottom: -5px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.projets-recents .btn:focus{
    box-shadow: none;
}

.projets-recents .contribution{
    border-radius: 15px;
    margin: 0px 15px;
    padding: 15px;
    background-color: rgb(191, 189, 189);
    color: black;
    transition: box-shadow .2s;
}

.projets-recents .contribution:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.projets-recents .contribution h2{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    padding-bottom: 10px;
}

.projets-recents .contribution p {
    margin:10px;
    text-align: left;
    font-size: 20px;
}

@media screen and (max-width: 1199.5px){
    .projets-recents .panel .col-sm-9{
        margin-right: -15px;
    }
}

@media screen and (max-width: 991.5px){
    .projets-recents .panel .col-sm-9{
        margin-right: -45px;
    }
}

/* -------- Partenaire ----------*/
.partenaires{
    min-height: 100vh;
}

.partenaires .titre{
    color: black;
    font-weight: 600;
    margin-top: 15px;
    border-bottom: solid 2px grey;
    margin-left: 1rem;
    margin-right: 1rem;
}

.partenaires .partenaire{
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 10px 15px;
    transition: box-shadow .2s;
    margin: 10px 15px;
    align-content: center;
}

.partenaires .partenaire:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);

}

.partenaires .partenaire a .bnc{
    width: 240px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.partenaires .partenaire a .ets{
    width: 290px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}


.partenaires .devenir-partenaire-panel{
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 10px 15px;
    transition: box-shadow .2s;
    margin: 10px 15px;
}

.partenaires .devenir-partenaire-panel:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}



.partenaires .devenir-partenaire-panel .btn:focus{
    box-shadow: none;
}


.partenaires .devenir-partenaire-panel .panel{
    display: flex;
    justify-content: center;
}

.partenaires .devenir-partenaire-panel .devenir-partenaire-link{
    margin-top: 15px;
    border-radius: 15px;
    background-color: rgb(217, 214, 214);
    padding: 20px 25px;
    text-decoration: none;
    color: black;
    transition: box-shadow .2s;
}

.partenaires .devenir-partenaire-panel a:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.partenaires .devenir-partenaire-panel .titre-devenir-partenaire{

    width: 100%;
}

.partenaires .devenir-partenaire-panel h2{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.partenaires .devenir-partenaire-panel .contenu{
    margin-top: 10px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(217, 214, 214);
}

.partenaires .devenir-partenaire-panel .contenu h4{
    margin: 10px;
    font-weight: 300;
}

.partenaires .devenir-partenaire-panel .contenu .texte{
    margin: 10px;
}

.partenaires .contenu{
    border-radius: 15px;
    margin: 0px 15px;
    padding: 15px;
    background-color: rgb(191, 189, 189);
    color: black;
    transition: box-shadow .2s;
}

.formulaire{
    margin-bottom: 25px;
}

.partenaires .contenu:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.partenaires .contenu h2{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    padding-bottom: 10px;
}

.partenaires .contenu p {
    margin:10px;
    text-align: left;
    font-size: 20px;
}


/* section faire un don*/
.partenaires .faire-don-panel{
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 10px 15px;
    transition: box-shadow .2s;
    margin: 10px 15px;
}

.partenaires .faire-don-panel:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.partenaires .faire-don-panel a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.cercle {

    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: rgb(60, 59, 59);

}

@media screen and (max-width:768px){

    .partenaires .partenaire a .bnc{
        width: 170px;
        height: 100px;
    }

    .partenaires .partenaire a .ets{
        width: 190px;
        height: 100px;
    }
}


@media screen and (max-width:575px){

    .partenaires .partenaire{
        align-content: center;
    }

}


/*----------  Fin partenaires ----------*/

/*------------- CONTACT PAGE ------------*/
.contact{
    min-height: 100vh;
}

.contact .rectangle{
    width: 100%;
    height: 100px;
    background-color: #080808;
}

.contact .triangle {
  width: 100%;
  height: 200px;
  color: white;
  background-color: #080808;
  opacity: 1;
  background-image:
    linear-gradient(to bottom left, transparent 50%, #F2F2F2 0),
    linear-gradient(to top left, #F2F2F2 50%, transparent 0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}
.contact .container.form-contact {
    background-color: #ffffff;
    border-radius: 1.25rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact .nav-tabs .nav-link {
    color: #333333;
    transition: background-color 0.3s ease;
}

.contact .nav-tabs .nav-link.active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid orange;
}

.contact .form-label {
    font-size: 12px;
    font-variant: ordinal;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.contact .btn {
    color: #ffffff;
    background-color: orange;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;
}

.contact .btn:hover {
    background-color: darkorange;
}

.contact .btn:focus {
    box-shadow: none;
    outline: none;
}

#map{
    height: 100%;
}

.contact .contact-info{
    background-color: #222029;
    padding: 80px;
}

.contact .contact-info h3{
    font-size: 25px;
    line-height: 38px;
    font-weight: 300;
    color: #fff;
}

.contact .contact-info ul{
    padding: 0;
    margin: 30px 0;
}

.contact .contact-info ul li{
    list-style: none;
}

.contact .contact-info ul li a{
    color: #fff;
    line-height: 32px;
    font-size: 19px;
    font-weight: 300;
    text-decoration: underline;
    font-family: system-ui;
}

.contact .contact-info p{
    color: #fff;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 20px;
}

.form-success {
    display: none;
    padding: 10px;
    margin-top: 20px;
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
  }

  .form-error {
    display: none;
    padding: 10px;
    margin-top: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }

@media screen and (max-width: 767px){
    #map{
        height: 400px;
    }
}


/*----------------- HOME PAGE SECTION ----------------*/

/*---------- HERO SECTION ----------*/
.hero-section{
    background-color: #080808;
    color: white;
}

.hero-section h1 b{
    font-size: 2.7rem;
}

/*----- INFO AND PRACTICE SECTION ----*/
.info h3 b{
    font-size: 40px;
}

.practice h3 b{
    font-size: 40px;
}

.practice a{
    color: black;
    text-decoration: none;
}

/*---------- MINDSET SECTION ---------*/
.mindset h3 b{
    font-size: 40px;
}
.mindset a{
    color: black;
    text-decoration: none;
}

/*--------- MOTIVATION SECTION --------*/
.motivation{
    color: white;
}

.motivation h3 b{
    font-size: 40px;
}

.motivation .slider{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.motivation .slider .slide-track{
    display: flex;
    width: calc(250px*22);
    animation: scroll 10s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*11));
    }
}

.motivation .slider .slide-track:hover{
    animation-play-state: paused;
}

.motivation .slider .slide-track .slide{
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 30px;
}

.motivation .slider .slide-track .slide img{
    width: 100px;
    height: auto;
}

.motivation .slider .slide-track .slide img:hover{
    transform: scale(1.2) translateX(-5px);
}

/*--------- CONTRIBUTE SECTION --------*/
.contribute h3 b{
    font-size: 40px;
}

/*--------- MENTORING SECTION ---------*/
.mentoring h3 b{
    font-size: 40px;
}

/*---------- NETWORK SECTION ----------*/
.network h3 b{
    font-size: 40px;
}

.network img{
    border-radius: 100%;
    width: 56px;
    height: 56px;
}

/*----------- FAQs SECTION ------------*/
.faq h3 b{
    font-size: 40px;
}

.faq .accordion-flush{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.faq .accordion-item{
    background-color: transparent;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
}

.faq .accordion-button{
    background-color: transparent;
}

.faq .accordion-button:focus{
    box-shadow: none;
}

.faq .accordion-button:not(.collapsed){
    color: black;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.faq .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.faq .btn{
    border: 1px solid black !important;
    border-radius: 0 !important;
    transition: all 0.4s ease-in-out;
}

.faq .btn:hover{
    color:orange;
    background-color: black;
}

/*--------------------- ABOUT US PAGE ----------------------*/
/*------------- SIDEBAR SECTION -------------*/
.about-us-section .sidebar a {
    text-decoration: none;
    color: black;
    font-size: small;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.about-us-section .sidebar a:hover{
    color:orange;
}

/*------------- ASIDE SECTION -------------*/
.about-us-section .card {
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.285);
}

.about-us-section .nav-pills .nav-link {
    color: black;
}

.about-us-section .nav-pills .nav-link.active {
    background-color: #FFD2A4;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.285);
}

.about-us-section .btn{
    border: 1px solid black !important;
    border-radius: 0 !important;
    transition: all 0.4s ease-in-out;
}

.about-us-section .btn:hover{
    color:orange;
    background-color: black;
}
/*---------------- TEAM PAGE ---------------- */
.team-section .social-links a{
    color: black;
}

.team-section .social-links a:hover{
    color: rgb(89, 89, 89);
}

.team-section .becoming-member .btn {
    border: 1px solid black !important;
    border-radius: 0 !important;
    transition: all 0.4s ease-in-out;
}

.team-section .becoming-member .btn:hover{
    color:orange;
    background-color: black;
}

/*---------------------- PARTNERSHIP PAGE -----------------*/
/*---------------- PARTNERSHIP SECTION --------------*/
.partenaires-section .btn {
    border: 1px solid black !important;
    border-radius: 0 !important;
    transition: all 0.4s ease-in-out;
}

.partenaires-section .btn:hover {
    color:orange;
    background-color: black;
}

/*----------------------- PROJECT PAGE --------------------*/

.github-icon a {
    color: white;
    border-radius: 50%;
    background-color: black;
    padding: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    width: fit-content;
}

.github-icon i {
    font-size: 16px;
    margin: 0;
}

.github-icon a:hover{
    background-color:orange;
}

/*---------------------- FOOTER SECTION ---------------------*/

footer{
    background-color: #080808;
    color: white;
}

footer .info{
    font-size: 14px;
}

footer hr{
    background-color: white;
    opacity: inherit !important;
}

footer a{
    color: white;
}

footer a:hover{
    color:orange;
}

footer .copyleft {
    display: inline-block;
    transform: rotateY(180deg);
}

@media only screen and (max-width:1199px){
    .footer-right-col{
        padding-left: 10px;
    }
}

@media only screen and (max-width:991px){
    .footer-right-col{
        padding-left: 0;
    }
}
