*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(217, 214, 214);
    height: 100vh;
}

/*--------------- HEADER SECTION -----------------*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 90%;
    background-color: rgb(12, 12, 12);
    position: sticky;
    z-index: 2;
    top: 0;
}

.navbar .navbar-nav-a{
    align-items: center;
    justify-content: center;
}

img{
    height: 110px;
    font-size: 1.5rem;
}

.navbar-collapse ul{
    display: flex;
    justify-content: space-around;
}

.navbar-collapse ul li{
    list-style: none;
}

.navbar-collapse ul li a{
    color: rgba(255, 166, 0, 0.748);
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 4px;
    transition: all 0.3s ease;
    opacity: none;
}

.navbar-collapse a.active{
    border-radius: 4px;
    background-color: rgba(255, 166, 0, 0.748);
    color: white;
}

.navbar-collapse a:hover{
    background-color: rgba(255, 166, 0, 0.925);
    color: white;
}

/* .navbar-nav .menu-link .item{
    display: none;  
} */

.navbar-nav .item{
    position: relative;
    float: left;
    line-break: auto;
    
}
/*-------------  BURGER ICON ---------------*/

.navbar-toggler{
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.748);
    display: block;
    transition: all 0.2s;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon{
    background-color: rgba(255, 166, 0, 0.748);
}

@media only screen and (max-width:990px){

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-collapse{
        width: 100%;
    }

    .navbar-collapse ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-collapse ul li a{
        color: rgba(255, 166, 0, 0.748);
        text-align: center;
        text-decoration: none;
        padding: 8px 8px;
        font-size: 18px;
        line-height: 38px;
        transition: all 0.3s ease;
        opacity: none;
    }
}

/*---------------- FOOTER SECTION -------------*/

.footer{
    background-color: rgb(14, 14, 14);
    opacity: 85%;
    padding: 25px 0;
    color: rgba(255, 166, 0, 0.748);
    font-size: 15px;
    z-index: 2;
}

.footer .container{
    max-width: 1100px;
    margin: auto;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.footer .row .footer-col{
    width: 50%;
    padding: 0 15px;
    text-align: center;
}

.footer .row .footer-col h3{
    font-size: 19px;
    margin-bottom: 25px;
    position: relative;
}

.footer .footer-col .name-address h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    height: 1px;
    box-sizing: border-box;
    background-color: rgba(255, 166, 0, 0.748);
    width: 62px;
    margin-left: 4px;
    text-align: center;
}

.footer .row .footer-col .follow-us h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    height: 1px;
    box-sizing: border-box;
    background-color: rgba(255, 166, 0, 0.748);
    width: 90px;
    margin-left: 8px;
    text-align: center;
}

.footer .row .footer-col .social-links a{
    display: inline-flex;
    background-color: rgba(255, 166, 0, 0.748);
    border-radius: 100%;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5s ease;
    color: rgba(242, 238, 238, 0.941);
}

.footer .row .footer-col .social-links a:hover{
    color: rgba(255, 166, 0, 0.748);
    background-color: rgb(221, 207, 207);
}

.footer .row .footer-col .social-links i{
    vertical-align: text-top;
    justify-content: center;
}

.footer .row .footer-col .adresse{
    color: white;
}

.footer .row .footer-col .year{
    color: white;
    margin-top: 10px;
}

.footer .row .footer-col .year .copyleft{
    display: inline-block;
    transform: rotateY(180deg);
}

/*---------------- PROJECT PAGES -----------------*/

.projets-recents .container{
    padding-top: 10px;
    padding-bottom: 10px;
}

.projets-recents .titre{
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.projets-recents .col{
    text-align: left;
}

.projets-recents .panel{
    border-radius: 15px;
    background-color: rgb(191, 189, 189);
    padding: 10px 15px;
    transition: box-shadow .2s;
    margin: 10px 15px;
}

.projets-recents .panel:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.projets-recents .panel button{
    text-align: left;
    padding-right: 60%;
} 

.projets-recents .panel .btn:focus{
    box-shadow: none;
}

.projets-recents .panel .titreProjet{
    border-radius: 8px;
    text-align: left;
}

.projets-recents .panel .lienGithub{
    width: 120px;
    height: 50px;
    margin-top: 25px;
}

.projets-recents .panel a{
    color: rgba(255, 166, 0, 0.748);
    border-radius: 100%;
    background-color: black;
    display: inline-flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
    text-align: right;
}

.projets-recents .panel a:hover{
    height: 40px;
    width: 40px;
    color: rgba(255, 166, 0, 0.748);
    background-color: rgb(221, 207, 207);
}

.projets-recents .panel h4{
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.projets-recents .panel .temoignage{
    margin-top: 10px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(217, 214, 214);
}

.projets-recents .panel .temoignage h5{
    margin: 10px;
    font-weight: 600;
}

.projets-recents .panel .temoignage .titre2{
    margin: 10px;
    font-weight: 600;
}

.projets-recents .panel .temoignage .texte{
    margin: 10px;
}

.projets-recents .contribution{
    border-radius: 15px;
    margin: 0px 15px;
    padding: 15px;
    background-color: rgb(191, 189, 189);
    color: black;
    transition: box-shadow .2s;
}

.projets-recents .contribution:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
}

.projets-recents .contribution h2{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    padding-bottom: 10px;
}

.projets-recents .contribution p {
    margin:10px;
    text-align: left;
    font-size: 20px;
}

/*-------- TEST -------*/
.contact{
    display: flex;
    background-color: orange;
}

.contact .left{
    width: 50%;
    background-color: rgb(101, 76, 30);
    padding: 10% 0%;
    transition: all 1s ease-in-out;
}

.contact .panel{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.contact .left:hover{
    z-index: 1;
    margin-right: -50%;
    width: 100%;
}

.contact .right{
    width: 50%;
    background-color: orange;
    padding: 10% 0%;
    transition: all 1s ease-in-out;
}

.contact .right:hover{
    z-index: 1;
    margin-left: -50%;
    width: 100%;
}

.contact h4{
    font-weight: bold;
}

.contact .btn{
    border-radius: 4px;
    background-color: rgb(117, 116, 116);
}

.contact .btn:focus{
    box-shadow: none;
}

.contact .membre{
    margin: 0% 20%;
    border-radius: 4px;
}

.contact .partenaire{
    margin: 0% 20%;
    border-radius: 4px;
}

/* Main menu */
  
  /* .menu__list{
    display: flex;
  }
  .menu__item .list{
      visibility: hidden;
      opacity: 0;
  }
  
  .menu__item:hover > a {
    color: #ffa500;
  }
  
  .menu__item:first-child {
    border: 0;
  }
  
  .menu__item--active {
    background: #e22d30;
  }
  
  .menu__link {
    display: flex;
    padding: 10px 15px;
    padding: 0.625rem 0.9375rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  
    .submenu__list {
    background: #2a2a2a;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    max-width: 15rem;
    transition: all 0.5s ease;
    border-top: 5px solid #e22d30;

  }
  
  .menu__list .menu__item:hover > .submenu__list,
  .menu__list .menu__item:focus-within > .submenu__list,
  .menu__list .menu__item .submenu__list:hover,
  .menu__list .menu__item .submenu__list:focus {
    visibility: visible;
    opacity: 1;
    
  }
  
  .menu__link:hover {
    color: #fff;
  }
  
   .js .menu__list {
    position: absolute;
    z-index: 1;
    width: 100%;
    visibility: visible;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
  
   .menu__list--active {
    visibility: visible;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    color: red;
  }
  
  .menu__list--transition {
    transition: visibility 0.15s ease, transform 0.15s ease,
      -webkit-transform 0.15s ease;
  } */